*{
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#app{
    width:100%;
    height:100%;
}
.nav{
    width:100%;
    height:40px;
    background:#ccc;
    font-size:20px;
    text-align:center;
    line-height: 40px;
}
.template{
    width:100%;
    height:calc(100% - 40px);
}
.body{
    width:100%;
    height:100%;
}
.body .left{
    width:25%;
    height:100%;
    border-right:1px solid #808080;
    float: left;
}
.body .right{
    width:75%;
    height:100%;
    padding-left:20px;
    float: left;
    overflow: scroll;
}


